In [1]:
#import dependencies
from matplotlib import style
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [3]:
#use read_sql_table to save question information table as a dataframe
#use getpass to protect database password
from getpass import getpass
password = getpass("Enter database password")
q_info_df = pd.read_sql('question_info', f"postgresql://postgres:{password}@localhost:5432/BRFSSAnalysis")

Enter database password········

In [5]:
#confirm the table was correctly saved as a df
q_info_df.head()

   id var_name            label             text
0   1   _STATE  State FIPS Code  State FIPS Code
1   2   FMONTH       File Month       File Month
2   3    IDATE   Interview Date   Interview Date
3   4   IMONTH  Interview Month  Interview Month
4   5     IDAY    Interview Day    Interview Day

In [ ]:
#Repeat process for user answers table and question coding scheme table
answers_df = pd.read_sql('user_answers', f"postgresql://postgres:{password}@localhost:5432/BRFSSAnalysis") 
coding_scheme_df = pd.read_sql('question_values', f"postgresql://postgres:{password}@localhost:5432/BRFSSAnalysis")

In [ ]:
#Can't load this table, too big and computer crashes, need to trim
#answers_df.head()

In [ ]:
coding_scheme_df.head()