In [1]:
import pandas as pd

In [16]:
# Files to load
file_to_load = "data/data.csv"

# Read the CSV into a DataFrame
df = pd.read_csv(file_to_load)
df.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,10.0,1182019.0,11.0,182.0,2019.0,11002.0,2.019000e+09,2.019000e+09,11.0,...,1141.0,11.0,11.0,11.0,10.0,0.0,2.0,21.0,12.0,21.0
1,1.0,10.0,1132019.0,11.0,132.0,2019.0,11002.0,2.019000e+09,2.019000e+09,11.0,...,1211.0,11.0,11.0,11.0,10.0,0.0,1.0,11.0,12.0,21.0
2,1.0,10.0,1182019.0,11.0,182.0,2019.0,11002.0,2.019000e+09,2.019000e+09,11.0,...,1641.0,11.0,11.0,11.0,10.0,0.0,1.0,12.0,22.0,21.0
3,1.0,10.0,1182019.0,11.0,182.0,2019.0,12002.0,2.019000e+09,2.019000e+09,11.0,...,9.0,99.0,91.0,11.0,11.0,11.0,19.0,99.0,9.0,1.0
4,1.0,10.0,1042019.0,10.0,42.0,2019.0,11002.0,2.019000e+09,2.019000e+09,11.0,...,1781.0,11.0,11.0,11.0,10.0,0.0,2.0,21.0,12.0,21.0

In [17]:
df.count()

_STATE      418268
FMONTH      418268
IDATE       418268
IMONTH      418268
IDAY        418268
             ...
_FRUITE1    418268
_VEGETE1    418268
_FLSHOT7    159112
_PNEUMO3    391505
_AIDTST4    418268
Length: 342, dtype: int64

In [4]:
## making a temp NaN-free version of df to use for testing machine learning models

In [6]:
df.isnull().sum()

_STATE           0
FMONTH           0
IDATE            0
IMONTH           0
IDAY             0
             ...
_FRUITE1         0
_VEGETE1         0
_FLSHOT7    259156
_PNEUMO3     26763
_AIDTST4         0
Length: 342, dtype: int64

In [18]:
# making a df with columns dropped if all values are na
df_drop_all_na = df.dropna(axis=1, how='all')

In [19]:
df_drop_all_na.count()

_STATE      418268
FMONTH      418268
IDATE       418268
IMONTH      418268
IDAY        418268
             ...
_FRUITE1    418268
_VEGETE1    418268
_FLSHOT7    159112
_PNEUMO3    391505
_AIDTST4    418268
Length: 333, dtype: int64

In [20]:
df_drop_all_na.isna().sum()

_STATE           0
FMONTH           0
IDATE            0
IMONTH           0
IDAY             0
             ...
_FRUITE1         0
_VEGETE1         0
_FLSHOT7    259156
_PNEUMO3     26763
_AIDTST4         0
Length: 333, dtype: int64

In [26]:
df_drop_all_na.columns

Index(['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE',
       'SEQNO', '_PSU', 'CTELENM1',
       ...
       '_VEGESU1', '_FRTLT1A', '_VEGLT1A', '_FRT16A', '_VEG23A', '_FRUITE1',
       '_VEGETE1', '_FLSHOT7', '_PNEUMO3', '_AIDTST4'],
      dtype='object', length=333)

In [27]:
print(df_drop_all_na.columns.values)

['_STATE' 'FMONTH' 'IDATE' 'IMONTH' 'IDAY' 'IYEAR' 'DISPCODE' 'SEQNO'
 '_PSU' 'CTELENM1' 'PVTRESD1' 'COLGHOUS' 'STATERE1' 'CELPHONE' 'LADULT1'
 'COLGSEX' 'NUMADULT' 'LANDSEX' 'NUMMEN' 'NUMWOMEN' 'RESPSLCT' 'SAFETIME'
 'CTELNUM1' 'CELLFON5' 'CADULT1' 'CELLSEX' 'PVTRESD3' 'CCLGHOUS' 'CSTATE1'
 'LANDLINE' 'HHADULT' 'SEXVAR' 'GENHLTH' 'PHYSHLTH' 'MENTHLTH' 'POORHLTH'
 'HLTHPLN1' 'PERSDOC2' 'MEDCOST' 'CHECKUP1' 'BPHIGH4' 'BPMEDS' 'CHOLCHK2'
 'TOLDHI2' 'CHOLMED2' 'CVDINFR4' 'CVDCRHD4' 'CVDSTRK3' 'ASTHMA3' 'ASTHNOW'
 'CHCSCNCR' 'CHCOCNCR' 'CHCCOPD2' 'ADDEPEV3' 'CHCKDNY2' 'DIABETE4'
 'DIABAGE3' 'HAVARTH4' 'ARTHEXER' 'ARTHEDU' 'LMTJOIN3' 'ARTHDIS2'
 'JOINPAI2' 'MARITAL' 'EDUCA' 'RENTHOM1' 'NUMHHOL3' 'NUMPHON3' 'CPDEMO1B'
 'VETERAN3' 'EMPLOY1' 'CHILDREN' 'INCOME2' 'WEIGHT2' 'HEIGHT3' 'PREGNANT'
 'DEAF' 'BLIND' 'DECIDE' 'DIFFWALK' 'DIFFDRES' 'DIFFALON' 'SMOKE100'
 'SMOKDAY2' 'STOPSMK2' 'LASTSMK2' 'USENOW3' 'ALCDAY5' 'AVEDRNK3'
 'DRNK3GE5' 'MAXDRNKS' 'EXERANY2' 'EXRACT11' 'EXEROFT1' 'EXERHMM1'
 'EXRACT21' 'EXEROFT2' 'EXERHMM2' 'STRENGTH' 'FRUIT2' 'FRUITJU2'
 'FVGREEN1' 'FRENCHF1' 'POTATOE1' 'VEGETAB2' 'FLUSHOT7' 'FLSHTMY3'
 'TETANUS1' 'PNEUVAC4' 'HIVTST7' 'HIVTSTD3' 'HIVRISK5' 'PDIABTST'
 'PREDIAB1' 'INSULIN1' 'BLDSUGAR' 'FEETCHK3' 'DOCTDIAB' 'CHKHEMO3'
 'FEETCHK' 'EYEEXAM1' 'DIABEYE' 'DIABEDU' 'WORKCFS' 'TOLDHEPC' 'TRETHEPC'
 'PRIRHEPC' 'HAVEHEPC' 'HAVEHEPB' 'MEDSHEPB' 'HPVADVC3' 'HPVADSHT'
 'IMFVPLA1' 'SHINGLE2' 'LCSFIRST' 'LCSLAST' 'LCSNUMCG' 'LCSCTSCN' 'HADMAM'
 'HOWLONG' 'HADPAP2' 'LASTPAP2' 'HPVTEST' 'HPLSTTST' 'HADHYST2' 'PCDMDEC1'
 'BLDSTOOL' 'LSTBLDS3' 'HADSIGM3' 'HADSGCO1' 'LASTSIG3' 'CNCRDIFF'
 'CNCRAGE' 'CNCRTYP1' 'CSRVTRT3' 'CSRVDOC1' 'CSRVSUM' 'CSRVRTRN'
 'CSRVINST' 'CSRVINSR' 'CSRVDEIN' 'CSRVCLIN' 'CSRVPAIN' 'CSRVCTL2'
 'HLTHCVR1' 'ASPIRIN' 'HOMBPCHK' 'HOMRGCHK' 'WHEREBP' 'SHAREBP' 'WTCHSALT'
 'DRADVISE' 'INDORTAN' 'NUMBURN3' 'SUNPRTCT' 'WKDAYOUT' 'WKENDOUT'
 'CIMEMLOS' 'CDHOUSE' 'CDASSIST' 'CDHELP' 'CDSOCIAL' 'CDDISCUS' 'CAREGIV1'
 'CRGVREL3' 'CRGVLNG1' 'CRGVHRS1' 'CRGVPRB3' 'CRGVALZD' 'CRGVPER1'
 'CRGVHOU1' 'CRGVEXPT' 'ACEDEPRS' 'ACEDRINK' 'ACEDRUGS' 'ACEPRISN'
 'ACEDIVRC' 'ACEPUNCH' 'ACEHURT1' 'ACESWEAR' 'ACETOUCH' 'ACETTHEM'
 'ACEHVSEX' 'PFPPRVN3' 'TYPCNTR8' 'NOBCUSE7' 'ASBIALCH' 'ASBIDRNK'
 'ASBIBING' 'ASBIADVC' 'ASBIRDUC' 'MARIJAN1' 'USEMRJN2' 'RSNMRJN1'
 'FOODSTMP' 'BIRTHSEX' 'SOMALE' 'SOFEMALE' 'TRNSGNDR' 'RCSGENDR'
 'RCSRLTN2' 'CASTHDX2' 'CASTHNO2' 'QSTVER' 'QSTLANG' '_METSTAT' '_URBSTAT'
 'MSCODE' '_STSTR' '_STRWT' '_RAWRAKE' '_WT2RAKE' '_IMPRACE' '_CHISPNC'
 '_CRACE1' '_CPRACE' '_CLLCPWT' '_DUALUSE' '_DUALCOR' '_LLCPWT2' '_LLCPWT'
 '_RFHLTH' '_PHYS14D' '_MENT14D' '_HCVU651' '_RFHYPE5' '_CHOLCH2'
 '_RFCHOL2' '_MICHD' '_LTASTH1' '_CASTHM1' '_ASTHMS1' '_DRDXAR2'
 '_LMTACT2' '_LMTWRK2' '_PRACE1' '_MRACE1' '_HISPANC' '_RACE' '_RACEG21'
 '_RACEGR3' '_RACE_G1' '_SEX' '_AGEG5YR' '_AGE65YR' '_AGE80' '_AGE_G'
 'HTIN4' 'HTM4' 'WTKG3' '_BMI5' '_BMI5CAT' '_RFBMI5' '_CHLDCNT' '_EDUCAG'
 '_INCOMG' '_SMOKER3' '_RFSMOK3' 'DRNKANY5' 'DROCDY3_' '_RFBING5'
 '_DRNKWK1' '_RFDRHV7' '_TOTINDA' 'METVL11_' 'METVL21_' 'MAXVO21_'
 'FC601_' 'ACTIN12_' 'ACTIN22_' 'PADUR1_' 'PADUR2_' 'PAFREQ1_' 'PAFREQ2_'
 '_MINAC11' '_MINAC21' 'STRFREQ_' 'PAMISS2_' 'PAMIN12_' 'PAMIN22_'
 'PA2MIN_' 'PAVIG12_' 'PAVIG22_' 'PA2VIGM_' '_PACAT2' '_PAINDX2'
 '_PA150R3' '_PA300R3' '_PA30022' '_PASTRNG' '_PAREC2' '_PASTAE2'
 'FTJUDA2_' 'FRUTDA2_' 'GRENDA1_' 'FRNCHDA_' 'POTADA1_' 'VEGEDA2_'
 '_MISFRT1' '_MISVEG1' '_FRTRES1' '_VEGRES1' '_FRUTSU1' '_VEGESU1'
 '_FRTLT1A' '_VEGLT1A' '_FRT16A' '_VEG23A' '_FRUITE1' '_VEGETE1'
 '_FLSHOT7' '_PNEUMO3' '_AIDTST4']

In [21]:
# making a df with columns dropped if any values are na
df_drop_any_na = df.dropna(axis=1, how='any')

In [23]:
df_drop_any_na.count()

_STATE      418268
FMONTH      418268
IDATE       418268
IMONTH      418268
IDAY        418268
             ...
_FRT16A     418268
_VEG23A     418268
_FRUITE1    418268
_VEGETE1    418268
_AIDTST4    418268
Length: 78, dtype: int64

In [25]:
df_drop_any_na.columns

Index(['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE',
       'SEQNO', '_PSU', 'HHADULT', 'SEXVAR', 'QSTVER', 'MSCODE', '_STSTR',
       '_STRWT', '_RAWRAKE', '_WT2RAKE', '_IMPRACE', '_DUALUSE', '_LLCPWT2',
       '_LLCPWT', '_RFHLTH', '_PHYS14D', '_MENT14D', '_HCVU651', '_RFHYPE5',
       '_CHOLCH2', '_MICHD', '_LTASTH1', '_CASTHM1', '_ASTHMS1', '_HISPANC',
       '_RACE_G1', '_SEX', '_AGEG5YR', '_AGE65YR', '_AGE80', '_AGE_G',
       '_BMI5CAT', '_RFBMI5', '_CHLDCNT', '_EDUCAG', '_INCOMG', '_SMOKER3',
       '_RFSMOK3', 'DRNKANY5', 'DROCDY3_', '_RFBING5', '_DRNKWK1', '_RFDRHV7',
       '_TOTINDA', 'METVL21_', 'MAXVO21_', 'FC601_', 'STRFREQ_', 'PAMISS2_',
       'PA2VIGM_', '_PACAT2', '_PAINDX2', '_PA150R3', '_PA300R3', '_PA30022',
       '_PASTRNG', '_PAREC2', '_PASTAE2', 'VEGEDA2_', '_MISFRT1', '_MISVEG1',
       '_FRTRES1', '_VEGRES1', '_VEGESU1', '_FRTLT1A', '_VEGLT1A', '_FRT16A',
       '_VEG23A', '_FRUITE1', '_VEGETE1', '_AIDTST4'],
      dtype='object')