In [39]:
#import dependencies
from matplotlib import style
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import psycopg2
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, func

In [2]:
#create an engine and connect with password to PGAdmin
from getpass import getpass
password = getpass("Enter database password")
db = create_engine(f"postgresql://postgres:{password}@localhost:5432/BRFSSAnalysis")

Enter database password········

In [5]:
#Create a base classes for an automap schema that reflects the sql db
Base = automap_base()
#reflect the schema of the CQL db
Base.prepare(db, reflect=True)

In [6]:
#confirm that Automap was able to find all the data
Base.classes.keys()

['user_answers', 'question_info', 'question_values']

In [7]:
#Save references to each table
user_answers = Base.classes.user_answers
question_info = Base.classes.question_info
question_values = Base.classes.question_values

In [21]:
# create a configured "Session" class
Session = sessionmaker(bind=db)

In [22]:
#Create a session link to the database so we can run queries
session = Session()

In [29]:
questions = session.query(question_info.id, question_info.var_name, question_info.label, question_info.text).all()

In [37]:
questions_df = DataFrame(questions, columns= ['id', 'var_name', 'label', 'text'])

In [38]:

questions_df.head()

Empty DataFrame
Columns: [id, var_name, label, text]
Index: []