In [1]:
import pandas as pd
import numpy as np

In [2]:
from external.likelihood_ratio_test import likelihood_ratio_test

In [3]:
#Get a csv with all cleaned behaviours to feed into SAS JMP

In [4]:
health_behaviour_df = pd.read_csv('Data/uncleaned_health_behaviour.csv')

In [5]:
health_behaviour_df.columns

Index(['id', '_STATE', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH',
       'EXRACT11', 'PAFREQ1_', '_MINAC11', 'ACTIN12_', 'EXRACT21', 'PAFREQ2_',
       '_MINAC21', 'ACTIN22_', 'STRFREQ_', 'PA2MIN_', '_METSTAT', '_URBSTAT',
       'HTIN4', 'WTKG3', '_RFBMI5', '_BMI5', '_RFSMOK3', '_RFDRHV7', 'FC601_',
       'FTJUDA2_', 'GRENDA1_', 'VEGEDA2_', 'POTADA1_', 'FRNCHDA_', '_FRUTSU1',
       '_VEGESU1', '_PAINDX2', '_PASTRNG', '_AGEG5YR', '_AGE80', 'CVDINFR4',
       'CVDCRHD4', 'CVDSTRK3', 'ASTHMA3', 'CHCSCNCR', 'CHCOCNCR', 'DIABETE4',
       'ADDEPEV3', 'CHCKDNY2', 'HAVARTH4', 'HLTHCVR1', 'HLTHPLN1', '_IMPRACE',
       '_EDUCAG', 'INCOME2', '_DRNKWK1', 'EDUCA'],
      dtype='object')

In [6]:
#potential features
#'_STATE', 'GENHLTH', 
#       'EXRACT11', 'PAFREQ1_', '_MINAC11', 'ACTIN12_', 'EXRACT21', 'PAFREQ2_',
#       '_MINAC21', 'ACTIN22_', 'STRFREQ_', 'PA2MIN_', '_METSTAT', '_URBSTAT',
#        '_BMI5', '_RFSMOK3',  'FTJUDA2_', 'GRENDA1_', 'VEGEDA2_', 'POTADA1_', 'FRNCHDA_', '_FRUTSU1',
#        '_VEGESU1', '_PAINDX2', '_PASTRNG', '_EDUCAG', 'INCOME2', '_DRNKWK1'

In [7]:
#Make sure every variable is cleaned

In [8]:
#_STATE
#Doesn't need to be recoded

In [9]:
#GENHLTH
health_behaviour_df.loc[health_behaviour_df.GENHLTH == 7, "GENHLTH"] = np.NaN
health_behaviour_df.loc[health_behaviour_df.GENHLTH == 9, "GENHLTH"] = np.NaN

In [10]:
#EXRACT11
health_behaviour_df.loc[health_behaviour_df.EXRACT11 ==77 , "EXRACT11"] = np.NaN
health_behaviour_df.loc[health_behaviour_df.EXRACT11 ==99 , "EXRACT11"] = np.NaN

In [11]:
#PAFREQ1_
health_behaviour_df.loc[health_behaviour_df.PAFREQ1_ ==99000 , "PAFREQ1_"] = np.NaN
health_behaviour_df["PAFREQ1_"] = health_behaviour_df["PAFREQ1_"] / 1000
#PAFREQ2_
health_behaviour_df.loc[health_behaviour_df.PAFREQ2_ ==99000 , "PAFREQ1_"] = np.NaN
health_behaviour_df["PAFREQ2_"] = health_behaviour_df["PAFREQ2_"] / 1000

In [12]:
#_MINAC11
#Doesn't need to be recoded
#_MINAC21
health_behaviour_df["_MINAC21"].head(20)

0       NaN
1     750.0
2      70.0
3       NaN
4       NaN
5       NaN
6      90.0
7       NaN
8     300.0
9       0.0
10      NaN
11     84.0
12      NaN
13      NaN
14    720.0
15      NaN
16     90.0
17     90.0
18      NaN
19    225.0
Name: _MINAC21, dtype: float64

In [13]:
#ACTIN12_
#Doesn't need to be recoded
#ACTIN22_

In [14]:
#EXRACT21
health_behaviour_df.loc[health_behaviour_df.EXRACT21 ==77 , "EXRACT21"] = np.NaN
health_behaviour_df.loc[health_behaviour_df.EXRACT21 ==99 , "EXRACT21"] = np.NaN

In [15]:
#STRFREQ_
health_behaviour_df.loc[health_behaviour_df.STRFREQ_ ==99000 , "STRFREQ_"] = np.NaN
health_behaviour_df["STRFREQ_"] = health_behaviour_df["STRFREQ_"] / 1000

In [16]:
#PA2MIN_
#Doesn't need to be cleaned
health_behaviour_df["PA2MIN_"].head(20)

0        NaN
1      778.0
2      190.0
3        NaN
4        NaN
5        NaN
6      270.0
7        NaN
8      960.0
9      120.0
10       NaN
11     468.0
12       NaN
13       NaN
14    1920.0
15       NaN
16     360.0
17     900.0
18       NaN
19    1710.0
Name: PA2MIN_, dtype: float64

In [17]:
#_METSTAT
#Doesn't need to be recoded

In [18]:
#_URBSTAT
#Doesn't need to be recoded

In [19]:
#_BMI5
health_behaviour_df["_BMI5"] = health_behaviour_df["_BMI5"] / 100

In [20]:
#_RFSMOK3
health_behaviour_df.loc[health_behaviour_df._RFSMOK3 ==9 , "_RFSMOK3"] = np.NaN

In [21]:
#FTJUDA2_
health_behaviour_df["FTJUDA2_"] = health_behaviour_df["FTJUDA2_"] / 100

In [22]:
#GRENDA1_
health_behaviour_df["GRENDA1_"] = health_behaviour_df["GRENDA1_"] / 100

In [23]:
#VEGEDA2_
health_behaviour_df["VEGEDA2_"] = health_behaviour_df["VEGEDA2_"] / 100

In [24]:
#POTADA1_
#Doesn't need to be recoded

In [25]:
#FRNCHDA_
health_behaviour_df["FRNCHDA_"] = health_behaviour_df["FRNCHDA_"] / 100

In [26]:
#_FRUTSU1
health_behaviour_df["_FRUTSU1"] = health_behaviour_df["_FRUTSU1"] / 100

In [27]:
#_VEGESU1
health_behaviour_df["_VEGESU1"] = health_behaviour_df["_VEGESU1"] / 100

In [28]:
#_PAINDX2
health_behaviour_df.loc[health_behaviour_df._PAINDX2 ==9 , "_PAINDX2"] = np.NaN

In [29]:
#_PASTRNG
health_behaviour_df.loc[health_behaviour_df._PASTRNG ==9 , "_PASTRNG"] = np.NaN

In [30]:
#EDUCA
health_behaviour_df.loc[health_behaviour_df.EDUCA ==9 , "EDUCA"] = np.NaN

In [31]:
#INCOME2
health_behaviour_df.loc[health_behaviour_df.INCOME2 ==77 , "INCOME2"] = np.NaN
health_behaviour_df.loc[health_behaviour_df.INCOME2 ==99 , "INCOME2"] = np.NaN

In [32]:
health_behaviour_df.head()

,id,_STATE,GENHLTH,PHYSHLTH,MENTHLTH,POORHLTH,EXRACT11,PAFREQ1_,_MINAC11,ACTIN12_,...,ADDEPEV3,CHCKDNY2,HAVARTH4,HLTHCVR1,HLTHPLN1,_IMPRACE,_EDUCAG,INCOME2,_DRNKWK1,EDUCA
0,1,1.0,3.0,15.0,88.0,88.0,NaN,NaN,NaN,NaN,...,2.0,2.0,1.0,NaN,1.0,2.0,1.0,3.0,0.0,3.0
1,2,1.0,4.0,10.0,88.0,10.0,64.0,0.467,28.0,1.0,...,2.0,2.0,1.0,NaN,1.0,1.0,3.0,5.0,0.0,5.0
2,3,1.0,3.0,88.0,30.0,88.0,2.0,1.000,60.0,2.0,...,2.0,2.0,1.0,NaN,1.0,2.0,4.0,7.0,0.0,6.0
3,4,1.0,4.0,30.0,88.0,88.0,NaN,NaN,NaN,NaN,...,2.0,2.0,1.0,NaN,1.0,1.0,3.0,6.0,99900.0,5.0
4,5,1.0,2.0,88.0,88.0,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,2.0,NaN,1.0,1.0,3.0,NaN,0.0,5.0

In [33]:
health_behaviour_df.shape

(418268, 53)

In [34]:
feat_analysis_df = health_behaviour_df[['_STATE', 'GENHLTH', 
       'EXRACT11', 'PAFREQ1_', '_MINAC11', 'ACTIN12_', 'EXRACT21', 'PAFREQ2_',
       '_MINAC21', 'ACTIN22_', 'STRFREQ_', 'PA2MIN_', '_METSTAT', '_URBSTAT',
        '_BMI5', '_RFSMOK3',  'FTJUDA2_', 'GRENDA1_', 'VEGEDA2_', 'POTADA1_', 'FRNCHDA_', '_FRUTSU1',
        '_VEGESU1', '_PAINDX2', '_PASTRNG', '_EDUCAG', 'INCOME2', '_DRNKWK1']].copy()

In [35]:
feat_analysis_df.head()

,_STATE,GENHLTH,EXRACT11,PAFREQ1_,_MINAC11,ACTIN12_,EXRACT21,PAFREQ2_,_MINAC21,ACTIN22_,...,VEGEDA2_,POTADA1_,FRNCHDA_,_FRUTSU1,_VEGESU1,_PAINDX2,_PASTRNG,_EDUCAG,INCOME2,_DRNKWK1
0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.50,43.0,0.14,2.00,1.14,2.0,1.0,1.0,3.0,0.0
1,1.0,4.0,64.0,0.467,28.0,1.0,73.0,5.000,750.0,1.0,...,1.00,7.0,0.07,1.00,1.21,1.0,2.0,3.0,5.0,0.0
2,1.0,3.0,2.0,1.000,60.0,2.0,64.0,1.167,70.0,1.0,...,1.00,14.0,0.07,1.14,1.64,1.0,1.0,4.0,7.0,0.0
3,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,6.0,99900.0
4,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.71,71.0,0.07,1.43,1.78,2.0,2.0,3.0,NaN,0.0

In [36]:
feat_analysis_df = feat_analysis_df.dropna(how = "any")

In [37]:
feat_analysis_df['PAFREQ1_'].tail(20)

409852    3.733
409858    4.000
409861    1.000
409862    0.233
409863    2.000
409864    3.000
409865    2.000
409867    1.400
409868    4.000
409871    6.000
409872    5.000
409876    3.000
409877    4.000
409878    3.000
409879    2.000
409880    3.000
409882    4.000
409884    7.000
409890    5.000
409892    2.333
Name: PAFREQ1_, dtype: float64

In [38]:
feat_analysis_df.shape

(135029, 28)

In [39]:
feat_analysis_df.to_csv('Data/feat_analysis_health_behaviour.csv', index=False)

In [40]:
## Ran feature analysis on feat_analysis_health_behaviour in SAS JMP, narrow down to '_STATE', 'EXRACT11', ACTIN12_', 'EXRACT21', 'PAFREQ2_',
#        '_MINAC21', 'ACTIN22_', 'PA2MIN_', '_BMI5', '_RFSMOK3',  'FTJUDA2_', '_FRUTSU1',
#        '_VEGESU1', '_PAINDX2', '_PASTRNG', '_EDUCAG', 'INCOME2'

In [41]:
post_feat_analysis_df = feat_analysis_df[['_STATE', 'STRFREQ_', 'GENHLTH','EXRACT11', 'ACTIN12_', 'EXRACT21', 'PAFREQ2_',
       '_MINAC21', 'ACTIN22_', 'PA2MIN_', '_BMI5', '_RFSMOK3',  'FTJUDA2_', '_FRUTSU1',
       '_VEGESU1', '_PAINDX2', '_PASTRNG', '_EDUCAG', 'INCOME2']].copy()

In [42]:
post_feat_analysis.head()

NameError: name 'post_feat_analysis' is not defined

In [43]:
post_feat_analysis_df.to_csv('Data/post_feat_analysis_health_behaviour.csv', index=False)